body{
    background-color: aliceblue;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.image{
    margin-top: 50px;
    width: 370px;
}
.particles{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
}
.center{
    display: flex;
    justify-content: center;
}

@media (max-width:770px){
    .container{
        margin: 0 10%;
    }
    .image{
        width: 100%;
    }
}